 <div id="header">
	<div class="main">
		<%#= Breadcrumbs.new(@menu.active.breadcrumbs).render if @menu.active %>
	</div>

	<div class="right">
	  <% if current_user %>
			<%= t('.logged_in_as', :user => current_user.email) %> &middot;
			<%= link_to t('.sign_out'), destroy_user_session_path %>
		<% else %>
      <%= link_to t('.sign_in'), new_user_session_path %>
	  <% end %>
	  <% if respond_to?(:site) && site %>
			 &middot;
	    <%= link_to t('.website') + ' »', public_url_for(site, resources), :id => 'go_to_website' %>
	  <% end %>
	  <p>
  	  <%= t('.change_language')%>
  	  <%= select_tag :lang, options_for_select(I18n.available_locales.map { |l| l.to_s}, I18n.locale.to_s ) %>
	  </p>
	</div>
</div>
