<div id="top">
  <ul class="main">
    <li class="item active"><a href="/admin/sites/1" id="show_site">Übersicht</a></li>
    <li class="item">
      <a href="/admin/sites/1/sections" id="index_sections">Sektionen</a>
      <ul id="sections_menu">
        <li><a class="level_0" href="/admin/sites/1/sections/1">Home</a></li>
      </ul>
    </li>
    <li class="item"><a href="/admin/sites/1/comments" id="index_comments">Kommentare</a></li>
    <li class="item"><a href="/admin/sites/1/newsletters" id="index_adva_newsletters">Newsletter</a></li>
    <li class="item"><a href="/admin/sites/1/assets" id="index_assets">Dateien</a></li>
  </ul>
  <ul class="right">
    <li class="item"><a href="/admin/sites/1/themes" id="index_themes">Themes</a></li>
    <li class="item"><a href="/admin/sites/1/edit" id="edit_site">Einstellungen</a></li>
    <li class="item"><a href="/admin/sites/1/users" id="index_users">Benutzer</a></li>
    <li class="item"><a href="/admin/sites/1/users/31/edit_profile" id="profile">Profil</a></li>
  </ul>
</div>
<div id="header">
	<div class="main">
		<%#= Breadcrumbs.new(@menu.active.breadcrumbs).render if @menu.active %>
	</div>

	<div class="right">
	  <% if current_user %>
			<%= t('.logged_in_as', :user => current_user.email) %> &middot;
			<%= link_to t('.sign_out'), destroy_user_session_path %>
		<% else %>
      <%= link_to t('.sign_in'), new_user_session_path %>
	  <% end %>
	  <% if try(:site) && resources.last.try(:persisted?) %>
			 &middot;
	    <%#= link_to t('.website') + ' »', public_url_for(site, resources), :id => 'go_to_website' %>
	  <% end %>
	  <p>
  	  <%= t('.change_language')%>
  	  <%= select_tag :lang, options_for_select(I18n.available_locales.map { |l| l.to_s}, I18n.locale.to_s ) %>
	  </p>
	</div>
</div>
