<h2><%= t('.title') %></h2>

<table id="cart">
  <thead>
    <tr>
      <th scope="col"><%= t('.product_number') %></th>
      <th scope="col"><%= t('.product_name') %></th>
      <th scope="col" class="numeric"><%= t('.quantity') %></th>
      <th scope="col" class="numeric"><%= t('.price') %></th>
      <th scope="col" class="numeric"><%= t('.total_price') %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'cart/item', :collection => resource.items %>
  </tbody>
  <tfoot class="cart_totals">
    <tr>
      <td colspan="3"></td>
      <td><%= t('.total_price') %></td>
      <td class="numeric total currency total_price"><%= number_to_currency(resource.total_price, :format => '%n %u', :unit => 'EUR') %></td>
    </tr>
    <!--tr>
      <td colspan="3"></td>
      <td><%= t('.total_vat') %></td>
      <td class="numeric total currency total_vat"><%#= number_to_currency(cart.total_vat, :unit => '€') %></td>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td><%= t('.total_gross_price') %></td>
      <td class="numeric total currency total_gross_price"><%#= number_to_currency(cart.total_gross_price, :unit => '€') %></td>
    </tr-->
  </tfoot>
</table>

<%= t('a_or_b', :a => link_to(t('.checkout'), new_cart_addresses_path), :b => link_to(t('.continue_shopping'), params[:return_to])).html_safe  %>