<h2><%= t(:'.title') %></h2>

<%= form_for(resources, :url => { :action => :new }, :html => { :method => :get, :class => 'section_type' }) do |section| %>
  <%= section.label :type %>
  
  <% section_types_for_select.each do |name, value| %>
    <%= section.radio_button :type, value %>
    <%= section.label "type_#{value.underscore}", name %>
  <% end %>
  
  <%#= section.select :type, section_types_for_select %>
  <%= section.submit 'Select', :class => 'hidden' %>
<% end %>

<%= render :partial => "admin/#{resource.type.pluralize.underscore}/form" %>