<%= content_tag_for(:tr, item) do %>
  <td><%= item.product.number %></td>
  <td><%= item.product.name %></td>
  <td class="numeric quantity"><%= item.quantity %></td>
  <td class="numeric price"><%= number_to_currency(item.price, :unit => '€') %></td>
  <td class="numeric total_price"><%#= number_to_currency(item.total_price, :unit => '€') %></td>
<% end %>